<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/book', book: @book, user: @user %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Title</th>
              <th scope="col">Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td>
                  <td>
  　　　　　　　   　　　　　　<% user = book.user %> <!-- bookに関連するuserを取得 -->
                    <%= link_to image_tag(user.get_profile_image(100, 100), class: "img-fluid"), user_path(user.id) if user.profile_image.attached? %>
                  </td>
                <td>
                  <%= link_to book.title, book_path(book) %>
                </td>
                
                <td>
                  <p class="mb-0"><%= book.body %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/f89bfc7ad1.js" crossorigin="anonymous"></script>
